body{
  font-family: 'Lobster', cursive;
}

/* navbar */
.navbar-brand {
  color: #A49966 !important;
  font-style: italic !important;
  font-size: 30px;
}
.nav-link {
  font-size: 20px;
}
.transparent {
  background: rgba(0,0,0,0.5);
}
.navbar.navbar-expand-sm .navbar-toggler {
  outline: none;
  border: none;
}
.navbar-toggler-icon {
  padding: 20px;
  color: #A49966 !important;
}

/* Header */
header {
  height: 100vh;
  background: url('img/header-1.jpg') fixed center no-repeat;
  background-size: cover;
}

.banner-center {
  height: 100vh;
  color: #A49966;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-underline {
  width: 300px;
  border: 3px solid #656256;
  margin: 0 auto 20px;
}
.banner-center a {
  text-decoration: none;
  font-size: 30px;
  width: 300px;
  margin: 0 auto;
  display: inline-block;
  border: 3px solid #656256;
  color: #A49966;
  border-radius: 15px;
  outline: none;  
}
.banner-center a:hover,
.banner a:focus{
  background-color: #363020;
  color: #A49966;
}

/* Skills */
#skills {
  padding: 40px;
  color: #363020;
  margin-bottom: 20px;
}

#skills .fa {
  font-size: 100px;
  margin-bottom: 20px;
}

#skills a {
  margin-bottom: 20px;
  background-color: #A49966;
  color: #656256;
  font-size: 20px;
}

#skills a:hover {
  background-color: #656256;
  color: #A49966;
}

/* title */
.title {
  margin: 20px 0;
}
.title-underline {
  width: 150px;
  border: 3px solid #656256;
  margin: 0 auto 10px auto;
}

/* About */
#about {
  background-color: #363020;
  color: #A49966;
}

#about .pic  {
  width: 100vw;
  height: 600px;
  background: url('/img/about.jpg') fixed center no-repeat;
  background-size: cover;
  border-bottom: 600px solid transparent;
  border-left: 100px solid #363020;
}
#about .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Contact */

#contact {
  padding: 40px;
  background-color: #656256;
  color: #A49966;
}

#contact form {
  margin: 0 auto;
  width: 70vw;
}

#contact .form-control {
  font-size: 20px;
}

#contact button {
  background-color: #A49966;
  font-size: 24px;
  color: #363020;
}

#contact button:hover {
  background-color: #363020;
  color: #A49966;
}

/* footer */
#footer {
  padding: 40px;
  color: #A49966;
  background-color: whitesmoke;
}

#footer .title-underline {
  margin-bottom: 40px;
}

#footer .footer-icons {
  font-size: 60px;
  padding-top: 30px;
}

#footer .footer-icons a {
  color: aqua;
  text-decoration: none;
}
#footer .footer-icons a:hover {
  color: #A49966;
}

#footer .copyrights {
  padding-top: 60px 0;
  color: #656256;
}
